html, body{
    background-color: #21232a;
    color:white;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding: 70px ;
}
button{
    padding: 10px;
    background-color: tomato;
    font-size: 1.3rem;
    margin-right: 10px;
}