html, body{

   color: rgb(104, 164, 216); 
   background-color: rgb(78, 68, 218);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: medium;
   padding: 21px;
}
button{
   font-size: 1.3rem;
   padding: 10px ;
   margin-right: 10px;
   border-radius: 3px;

}